/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    width: 24rem;
}

@media (max-width: 650px) {
    .container {
        width: 24rem;
    }
}

@media (max-width:375px) {
    .container {
        width: 20rem;
    }
}

button {
    width: 6rem;
    height: 5rem;
    background: rgb(77, 77, 77);
    color: whitesmoke;
    padding: 0;
    border: 1px solid lightgray;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

button:hover {
    border: 2px solid whitesmoke;
}

.double {
    width: 12rem;
    background: rgb(7, 90, 138);
}

.triple {
    width: 18rem;
    background: rgb(206, 39, 39);
}

@media (max-width: 650px) {
    button {
        width: 6rem;
    }
    .double {
        width: 12rem;
    }
    .triple {
        width: 18rem;
    }
}

@media (max-width: 375px) {
    button {
        width: 5rem;
        height: 5rem
    }
    .double {
        width: 10rem;
    }
    .triple {
        width: 15rem;
    }
}

#display {
    height: 6rem;
    background: black;
    color: whitesmoke;
    text-align: right;
    border: none;
}

p {
    position: absolute;
    top: 13%;
    left: 93%;
    transform: translate(-90%, -50%);
    color: rgb(241, 241, 26);
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
} */

body {
    font-family: sans-serif;
    cursor: pointer;
}

.grid {
    display: inline-grid;
    grid-template-rows: 100px repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    width: 24rem;
}

#display {
    grid-column: span 4;
    line-height: 2;
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    box-sizing: border-box;
    background: black;
    color: whitesmoke;
    text-align: right;
    border: none;
}

p {
    position: absolute;
    top: 11%;
    left: 91%;
    transform: translate(-90%, -50%);
    color: rgb(241, 241, 26);
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#clear {
    grid-column: span 3;
    color: whitesmoke;
    font-weight: 900;
    padding: 10px 0;
    background: rgb(206, 39, 39);
    transition: all .2s ease-in-out;
    border: 1px solid lightgray;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
}

.clearAC {
    position: relative;
    top: 25%;
}

#equals {
    font-size: 1rem;
    color: #1C3144;
    font-weight: 900;
    transition: all .2s ease-in-out;
    grid-column: span 2;
    background: rgb(7, 90, 138);
    color: whitesmoke;
    border: 1px solid lightgray;
    font-family: 'Orbitron', sans-serif;
}

.equal {
    position: relative;
    top: 40%;
}