.App {
    text-align: center;
}

.url {
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}